@model WebApplication1.models.databasemodels.Campaign

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Usuń kampanię</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Kampanie</a></li>
                    <li class="breadcrumb-item active">Usuń kampanię</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">         
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-danger">
                    <div class="card-header">
                        <h3 class="card-title">Zamierzasz usunąć poniższą kampanię</h3>
                        <div class="card-tools">
                                
                        </div>
                    </div>
                    <div class="card-body" style="display: block;">
                        <dl class="row">
                            <dt class = "col-sm-6">
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>
                            <dd class = "col-sm-6">
                                @Html.DisplayFor(model => model.Name)
                            </dd>
                            <dt class = "col-sm-6">
                                @Html.DisplayNameFor(model => model.Description)
                            </dt>
                            <dd class = "col-sm-6">
                                @Html.DisplayFor(model => model.Description)
                            </dd>
                             <dt class = "col-sm-6">
                                @Html.DisplayNameFor(model => model.Budget)
                            </dt>
                            <dd class = "col-sm-6">
                                @Html.DisplayFor(model => model.Budget)
                            </dd>
                            <dt class = "col-sm-6">
                                @Html.DisplayNameFor(model => model.IdContractorNavigation)
                            </dt>
                            <dd class = "col-sm-6">
                                @Html.DisplayFor(model => model.IdContractorNavigation.Name)
                            </dd>
                           
                        </dl>                            
                    </div>
                    <div class="card-footer">
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="Id" />
                            <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
                            <input type="submit" value="Usuń" class="btn btn-danger float-right" />                                
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
