@model WebApplication1.models.databasemodels.Campaign

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Szczegóły kampanii</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="Index">Kampanie</a></li>
                    <li class="breadcrumb-item active">Szczegóły kampanii</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class=" card card-primary card-outline">
                    <div class="card-header d-flex p-0">
                        <h3 class="card-title p-3">
                            <i class="fas fa-info-circle"></i>
                           Informacje
                        </h3>
                        <div class="card-tools ml-auto p-2 pr-4">                            
                            <div class="btn-group class="text-right"">
                                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">Edit</a>
                                <a asp-action="Index" class="btn btn-default">Back to List</a>
                                <a asp-controller="SendingActions" asp-action="Create" asp-route-campid="@Model.Id" class="btn btn-default">Stwórz szablon wysyłki</a>
                                <a asp-action="AddCustomers" asp-route-id="@Model.Id" class="btn btn-default">Dodaj klientów</a> 
                            </div>
                        </div>                      
                    </div>
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Name)</dt>
                            <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>
                            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Description)</dt>
                            <dd class="col-sm-9">@Html.DisplayFor(model => model.Description)</dd>
                            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.IdContractorNavigation.Name)</dt>
                            <dd class="col-sm-9">@Html.DisplayFor(model => model.IdContractorNavigation.Name)</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="height:580px;">
                    <div class="card-header d-flex p-0">
                        <h3 class="card-title p-3">
                            <i class="fas fa-indent"></i>
                            Zakładki
                        </h3>
                        <ul class="nav nav-pills ml-auto p-2">
                            <li class="nav-item">
                                <a class="nav-link active" href="#tab_1" data-toggle="tab">Dodani klienci</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tab_2" data-toggle="tab">Szablony wysyłek</a>
                            </li>   
                        </ul>                        
                    </div>
                    <div class="card-body ">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1">
                                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">                        
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="dataTable" class="table table-bordered table-striped dataTable dtr-inline" aria-describedby="dataTable_info">
                                                <thead>
                                                    <tr>
                                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"> 
                                                            @Html.DisplayNameFor(model => model.CustomerCampaigns.ToList()[0].IdCustomerNavigation.FirstName)
                                                        </th>
                                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1">
                                                            @Html.DisplayNameFor(model => model.CustomerCampaigns.ToList()[0].IdCustomerNavigation.LastName)
                                                        </th>
                                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1">
                                                            @Html.DisplayNameFor(model => model.CustomerCampaigns.ToList()[0].IdCustomerNavigation.Email)
                                                        </th>
                                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1">
                                                            @Html.DisplayNameFor(model => model.CustomerCampaigns.ToList()[0].OkToEmail)
                                                        </th>    
                                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1">
                                                            @Html.DisplayNameFor(model => model.CustomerCampaigns.ToList()[0].OkToThirdParty)
                                                        </th> 
                                                        <th class="sorting col-md-3" id="actionColumn">
                                                            Akcje
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.CustomerCampaigns) {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.IdCustomerNavigation.FirstName)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.IdCustomerNavigation.LastName)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.IdCustomerNavigation.Email)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.OkToEmail)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.OkToThirdParty)
                                                            </td>
                                                            <td class="dt-center" id="actionColumn">
                                                                <div class="btn-group">
                                                                    <a asp-controller="CustomerCampaign" asp-action="Edit" asp-route-campid="@Model.Id" asp-route-cmid="@item.IdCustomer" class="btn-sm btn-default">Edytuj zgody</a>
                                                                    <a asp-controller="CustomerCampaign" asp-action="Details" asp-route-campid="@Model.Id" asp-route-cmid="@item.IdCustomer" class="btn-sm btn-default">Szczegóły</a>
                                                                    <a asp-controller="CustomerCampaign" asp-action="Delete" asp-route-campid="@Model.Id" asp-route-cmid="@item.IdCustomer" class="btn-sm btn-default">Usuń</a>
                                                                </div>                                                         
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab_2">
                                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">                        
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="dataTable" class="table table-bordered table-striped dataTable dtr-inline" aria-describedby="dataTable_info">
                                                <thead>
                                                    <tr>
                                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"> 
                                                            @Html.DisplayNameFor(model => model.SendingActions.ToList()[0].Name)
                                                        </th>
                                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1">
                                                            @Html.DisplayNameFor(model => model.SendingActions.ToList()[0].Description)
                                                        </th>
                                                         <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1">
                                                            @Html.DisplayNameFor(model => model.SendingActions.ToList()[0].EmailSubject)
                                                        </th>  
                                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1">
                                                            @Html.DisplayNameFor(model => model.SendingActions.ToList()[0].IdSendingActionTypeNavigation.Name)
                                                        </th>
                                                        <th class="sorting col-md-3" id="actionColumn">
                                                            Akcje
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.SendingActions) {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Name)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Description)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.EmailSubject)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.IdSendingActionTypeNavigation.Name)
                                                            </td>
                                                            <td class="dt-center" id="actionColumn">
                                                                <div class="btn-group">
                                                                    <a asp-controller="SendingAction" asp-action="Edit" asp-route-id="@item.Id" class="btn-sm btn-default">Edytuj</a>
                                                                    <a asp-controller="SendingAction" asp-action="Details" asp-route-id="@item.Id" class="btn-sm btn-default">Szczegóły</a>
                                                                    <a asp-controller="SendingAction" asp-action="Delete" asp-route-id="@item.Id" class="btn-sm btn-default">Usuń</a>
                                                                </div>                                                         
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

