@model IEnumerable<WebApplication1.models.databasemodels.Customer>

@{
    ViewData["Title"] = "Klienci";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Klienci</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Klienci</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary card-outline">
                    <div class="card-header d-flex p-0">
                        <h3 class="card-title p-3 ">
                            <i class="fas fa-th-list"></i>
                            Lista klientów
                            </h3>
                        <div class="card-tools ml-auto p-2 pr-4">
                            <a asp-controller="Customers" asp-action="Create" class="btn btn-primary float-right" >
                                <i class="fas fa-user-plus"></i>
                                Dodaj
                            </a>
                        </div>
                    </div>
                    
                    <div class="card-body">
                        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">                        
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="dataTable" class="table table-bordered table-striped dataTable dtr-inline" aria-describedby="dataTable_info">
                                        <thead>
                                            <tr>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending"> 
                                                    @Html.DisplayNameFor(model => model.FirstName)
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">
                                                    @Html.DisplayNameFor(model => model.LastName)
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="">
                                                    @Html.DisplayNameFor(model => model.Email)
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">
                                                    @Html.DisplayNameFor(model => model.BirthDate)
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">
                                                    @Html.DisplayNameFor(model => model.Address)
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">
                                                    @Html.DisplayNameFor(model => model.PostCode)
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">
                                                    @Html.DisplayNameFor(model => model.City)
                                                </th>
                                                <th id="actionColumn">
                                                    Akcje
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model) {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.FirstName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.LastName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Email)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.BirthDate)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Address)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.PostCode)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.City)
                                                    </td>
                                                    <td class="text-center" id="actionColumn">
                                                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm">
                                                            <i class="fas fa-info-circle"></i>
                                                            Szczegóły
                                                        </a> 
                                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info btn-sm">
                                                            <i class="fas fa-pencil-alt"></i>
                                                            Edytuj
                                                        </a> 
                                                    @if (User.IsInRole("RODO"))
                                                    {
                                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">
                                                            <i class="fas fa-trash"></i>
                                                            Usuń
                                                        </a>
                                                    }
                                                    </td>
                                                </tr>
                                                }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
