@model IEnumerable<WebApplication1.models.databasemodels.SendingAction>

@{
    ViewData["Title"] = "Wysyłki";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Wysyłki</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Wysyłki</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-outline card-primary">
                    <div class="card-header d-flex p-0">
                        <h3 class="card-title p-3">
                            <i class="fas fa-th-list"></i>
                            Lista wysyłek
                        </h3>
                        <div class="card-tools ml-auto p-2 pr-4">
                            <a asp-controller="SendingActions" asp-action="Create" class="btn btn-primary float-right" >
                                <i class="fas fa-paper-plane"></i>
                                Stwórz szablon wysyłki
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">                        
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="dataTable" class="table table-bordered table-striped dataTable dtr-inline" aria-describedby="dataTable_info">
                                        <thead>
                                            <tr>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending"> 
                                                    @Html.DisplayNameFor(model => model.Name)
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">
                                                    @Html.DisplayNameFor(model => model.Description)
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="">
                                                    @Html.DisplayNameFor(model => model.IdCampaignNavigation.Name)
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">
                                                    @Html.DisplayNameFor(model => model.IdSendingActionTypeNavigation.Name)
                                                </th>                                                
                                                <th id="actionColumn">
                                                    Akcje
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model) {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Description)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.IdCampaignNavigation.Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.IdSendingActionTypeNavigation.Name)
                                                    </td>                                                    
                                                    <td class="text-center"> 
                                                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm">
                                                            <i class="fas fa-info-circle"></i>
                                                            Szczegóły
                                                        </a> 
                                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info btn-sm">
                                                            <i class="fas fa-pencil-alt"></i>
                                                            Edytuj
                                                        </a>                                                         
                                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">
                                                            <i class="fas fa-trash"></i>
                                                            Usuń
                                                        </a>
                                                    </td>
                                                </tr>
                                                }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>