@model WebApplication1.models.databasemodels.CustomerCampaign

@{
    ViewData["Title"] = "Delete";
}

<h1>Usuń przypisanie</h1>

<h4>Czy chcesz usunąć poniższe przypisanie?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCustomerNavigation.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCustomerNavigation.FullName)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCampaignNavigation.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCampaignNavigation.Name)
        </dd class>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OkToEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OkToEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OkToThirdParty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OkToThirdParty)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCustomer" />
        <input type="hidden" asp-for="IdCampaign" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
