@model IEnumerable<WebApplication1.models.databasemodels.Customer>

@{
    ViewData["Title"] = "Send";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Określ grupę docelową dla wysyłki</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="SendingActions" asp-action="Index">Wysyłki</a></li>
                    <li class="breadcrumb-item"><a asp-controller="SendingActions" asp-action="Details" asp-route-id="@ViewData["RouteId"]" >Szczegóły szablonu</a></li>
                    <li class="breadcrumb-item active">Wyślij</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<form asp-action="Send" asp-route-id="@ViewData["RouteId"]">
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-flex p-0">
                        <h3 class="card-title p-3">
                            <i class="fas fa-th-list"></i>
                            Lista klientów docelowych
                            </h3>
                        <div class="card-tools ml-auto p-2 pr-4">
                            <div class="btn-group text-right">
                                <a href="javascript:history.go(-1)" class="btn btn-default">
                                    <i class="fas fa-arrow-alt-circle-left"></i>
                                    Powrót
                                </a>
                                <input type="submit" value="Wyślij" class="btn btn-primary" style="width: 8rem" />                                 
                            </div>
                        </div>
                    </div>
                     <div class="card-body">
                        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">                        
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="dataTableFilters" class="table table-bordered table-striped dataTable dtr-inline" aria-describedby="dataTable_info">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column descending"> 
                                                    @Html.DisplayNameFor(model => model.FirstName)
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">
                                                    @Html.DisplayNameFor(model => model.LastName)
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="">
                                                    @Html.DisplayNameFor(model => model.Email)
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">
                                                    @Html.DisplayNameFor(model => model.BirthDate)
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">
                                                    @Html.DisplayNameFor(model => model.Age)
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">
                                                    @Html.DisplayNameFor(model => model.Address)
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">
                                                    @Html.DisplayNameFor(model => model.PostCode)
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">
                                                    @Html.DisplayNameFor(model => model.City)
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">
                                                    @Html.DisplayNameFor(model => model.Area)
                                                </th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model) {
                                                <tr>
                                                    <td><input type="checkbox" name="customerId" value="@item.Id" id="@item.Id" checked /></td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.FirstName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.LastName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Email)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.BirthDate)
                                                    </td>
                                                     <td>
                                                        @Html.DisplayFor(modelItem => item.Age)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Address)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.PostCode)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.City)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Area)
                                                    </td>
                                                   
                                                </tr>
                                                }
                                        </tbody>                                        
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</form>
