@model WebApplication1.Models.LoginViewModel 
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MMSPLv4</title>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/admin/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/admin/dist/css/adminlte.min.css">


</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href=""><b>MMS</b>PL</a>
        </div>

        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Zaloguj się, aby móc korzystać z pełni aplikacji!</p>
                <form method="post" asp-controller="Login" asp-action="OnPost">
                    <div class="input-group mb-3">
                        <label asp-for="@Model.Email">
                            <input asp-for="@Model.Email" class="form-control" />
                        </label>
                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <label asp-for="@Model.Password">
                            <input asp-for="@Model.Password" class="form-control" />
                        </label>
                        <span asp-validation-for="@Model.Password" class="text-danger"></span>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input asp-for="@Model.RememberMe">
                                <label asp-for="@Model.RememberMe">
                                    Zapamiętaj mnie
                                </label>
                            </div>
                        </div>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Zaloguj</button>
                        </div>

                    </div>
                </form>
                @*
                    <p class="mb-1">
                        <a href="forgot-password.html">Nie pamiętam hasła</a>
                    </p>
                *@
            </div>

        </div>
    </div>


    <!-- jQuery -->
    <script src="~/admin/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/admin/dist/js/adminlte.min.js"></script>

</body>
</html>
